.large-text {
  color: #17a2b8;
}
.userName {
  color: #17a2b8;
  font-weight: 300;
}
.lead {
  font-weight: 600;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: auto;
}
.btn-primary {
  background-color: #17a2b8;
  border: none;
  transition: all 0.4s ease;
}
.btn-primary:hover {
  background-color: #0c889b;
}
.lead .fa-user {
  font-weight: 600;
  font-size: 19px;
  margin-right: 5px;
}
.btn-light {
  margin-top: 20px;
  margin-right: 10px;
}
.btn-light i{
  margin-right: 5px;
  color: #0c889b;
}