.wrap-top {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #80808082;
  border-bottom: 1px solid #80808082;
  padding: 30px 0;
}
.text-title h2,
.text-name p {
  color: #5a5a5a82 !important;
}
.text-title h2 span,
.text-name p span {
  color: #5a5a5a !important;
}

.img-top {
  width: 35%;
}
.text-top {
  padding: 60px 10px;
  margin-left: 60px;
}
.profile-grid {
  margin-top: 30px;
}
.grid-wrap {
  display: flex;
  flex-direction: row;
}
.grid {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.img-grid {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.img-size {
  width: 100%;
}
.item {
  margin-bottom: 15px;
}
.text-grid {
  margin-top: 20px;
}
.text-grid p {
  margin-bottom: 2px;
}

@media screen and (max-width: 990px) {
  .img-top {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .text-top {
    display: flex;
    padding: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .text-title h2 {
    font-size: 18px;
  }
  .grid-wrap {
    flex-direction: row;
  }
  .grid-wrap .grid {
    width: 50%;
    padding: 10px;
    flex-direction: row;
    align-items: center;
  }
  .img-grid {
    width: 50%;
    margin-right: 10px;
  }
  .text-grid {
    margin-top: 0;
  }
  .text-grid p {
    font-size: 13px;
  }
  .profile-item-text {
    margin-top: 20px;
  }
  .profile-item a p {
    font-size: 15px;
    text-align: center;
    margin-left: 0;
  }
  .profile-item {
    width: 20%;
  }
}
@media screen and (max-width: 530px) {
  .wrap-top {
    padding: 10px 10px;
    flex-direction: column;
    align-items: center;
  }
  .img-top {
    width: 50%;
  }
  .text-top {
    margin-left: 0;
    margin-top: 20px;
  }
  .grid-wrap {
    flex-wrap: wrap;
  }
  .grid-wrap .grid {
    width: 100%;
    justify-content: center;
  }
  .img-grid{
    width: 50%;
  }
}
